.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f1f5f8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
}