.userPhoto {
    width: 100px;
    height: 100px;
}

.selectedPage {
    font-weight: bold;
}

.users {
    padding: 20px;
}

.margins {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
    padding: 15px;
    border: solid #32a1ce;
    max-width: 450px;
    background-color: #e1faf4;
}

.photoAndButton {
    margin: 5px;
    padding: 10px;
}

.blockInfoUser {
    border: dashed 3px #5fa6c4;
    padding: 10px;
    margin: 5px;
}


