.postsBlock {
    padding: 20px;
}

.header {
    margin: 20px;
}

.groopOfInputAndButton {
    display: flex;
}

.posts {
    margin-top: 10px;
}

.textarea {
    background: #f5f6ea;
    border-radius: 10px;
    height: 23px;
    margin: 5px;
}

.button {
    background: #f5f6ea;
    border-radius: 10px;
    height: 23px;
    margin: 5px;
    /*color: white;*/
}