.postsBlock {
    padding: 20px;
}

.header {
    margin: 20px;
}

.posts {
    margin-top: 10px;
}

.formik {
    display: flex;
    justify-content: flex-start;
}

.input[type="text"] {
    display: block;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 3px solid lightseagreen;
    border-radius: 4px;
}

.inputError[type="text"] {
    display: block;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 3px solid red;
    border-radius: 4px;
}

.button {
    display: block;
    width: 90px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 3px solid lightseagreen;
    border-radius: 4px;
    margin-left: 10px;
}

.buttonError {
    display: block;
    width: 90px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: #efc7c5;
    background-image: none;
    /*border: #cb27aa;*/
    border-radius: 4px;
    margin-left: 10px;
}