.header {
    grid-area: h;
    background-color: #dff6f8;
}

.header img {
    width: 200px;
    height: 80px;
}

.loginBlock {
    float: right;
    margin: 10px;
}

.loginBlock a {
    /*color: black;*/
}

.button {
    background-color: #b0efeb;
    border-radius: 4px;
    margin-left: 10px;
}