@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,600&display=swap');

.header {
    grid-area: header;
    background-color: #dff6f8;
    border-radius: 10px;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 40px;
    margin: 10px;
    font-family: 'Vollkorn', serif;
    color: #8a63a4;
}

.header img {
    border: 2px solid #8a63a4;
    border-radius: 5px;
    width: 195px;
    height: 68px;
}

.loginBlock {
    /*float: right;*/
    margin: 10px;
}

.loginBlock a {
    /*color: black;*/
}

.button {
    background-color: #b0efeb;
    border-radius: 4px;
    margin-left: 10px;
}