.nav {
    grid-area: navbar;
    padding: 20px;
    background-color: #3cc4b4;
    border-radius: 10px;
    margin: 5px;
}

.item a {
    color: white;
    text-decoration: none;
    font-size: 20px;

    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.item a.activeLink {
    color: gold;
}

.item a:hover {
    background-color: #2c7a71;
    color: gold;
    border: 1px solid #07be92;
    border-radius: 5px;
}