.descriptionBlock {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    background-color: #dbe3f1;
    min-width: 400px;
}

.groopOfNameAndStatus {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.fullName {
    color: chocolate;
}

.status {
    font-weight: normal;
    font-size: 15px;
    /*font-style: italic;*/
    color: cornflowerblue;
}

.blockPhotoAndInfoUser {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.photo {
    display: flex;
    align-items: flex-start;
}

.photo img {
    /*border: 2mm dashed rgb(157, 234, 207);*/
    /*border: solid 3px #5fa6c4;*/
    max-height: 100px;
    max-width: 100px;
    border-radius: 5%;
}

.formContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-top: 15px;
}

.formButton {
    display: flex;
    justify-content: flex-end;
    margin-left: 5px;
}

.button {
    background-color: #b0efeb;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    margin-left: 1px;
}

.blockInfoUser {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*border: solid 3px #5fa6c4;*/
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.field {
    margin: 5px;
    text-decoration: none;
}

.photo input[type="file"] {
    display: none;
}

.photo .buttonLoad {
    background-color: #b0efeb;
    border-radius: 4px;
    border: 2px solid black;
    width: 13px;
    height: 13px;
    padding: 2px;
    margin-left: 10px;
}

.button {
    background-color: #b0efeb;
    width: 22px;
    height: 22px;
    margin-left: 1px;
    padding: 2px;
}