.formContainer {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    margin-top: 15px;
}

.formButton {
    display: flex;
    justify-content: flex-end;
    margin-left: 5px;
}

.button {
    background-color: #b0efeb;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    padding: 2px;
}

.blockInfoUser {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*border: solid 3px #5fa6c4;*/
    border-radius: 10px;
    background-color: #cbd2d9;
    padding: 10px;
}

.field {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.form {
    border: 2px solid lightseagreen;
    border-radius: 4px;
    margin-left: 5px;
}

.form formContainer {
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}

.checkboxField {
    display: flex;
    justify-content: center;
}


.errorServer {
    color: red;
    margin-top: 5px;
    font-size: 0.95rem;
}

.errorForm {
    border: 2px solid red;
    border-radius: 4px;
    margin-left: 5px;
}

.spanError {
    color: red;
    font-size: 0.9rem;
}


.contactFields {
    display: flex;
    justify-content: space-between;
}