.descriptionBlock {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 15px;
    border: solid #32a1ce;
    border-radius: 10px;
    /*max-width: 140vh;*/
    /*max-height: 800px;*/
    background-color: #e1faf4;
    /*text-align: center;*/
}

.groopOfNameAndStatus {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.fullName {
    color: chocolate;
}

.status {
    font-weight: normal;
    font-size: 15px;
    /*font-style: italic;*/
    color: cornflowerblue;
}

.blockPhotoAndInfoUser {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.photo {
    display: flex;
    align-items: flex-start;
}

.photo img {
    /*border: 2mm dashed rgb(157, 234, 207);*/
    /*border: solid 3px #5fa6c4;*/
    max-height: 300px;
    max-width: 300px;
    border-radius: 5%;
}

.formContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin: 3px;
}

.formButton {
    display: flex;
    justify-content: flex-end;
    margin-left: 5px;
}

.button {
    background-color: #b0efeb;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    margin-left: 1px;
}

.blockInfoUser {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: solid 3px #5fa6c4;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin-left: 15px;
}

.field {
    margin: 5px;
    text-decoration: none;
}

.photo input[type="file"] {
    display: none;
}

.photo .buttonLoad {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}