.text {
    height: 80vh;
    background-color: #f1f5f8;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #a9ded1;
    text-align: center;
}

.block {
    display: flex;
    flex-direction: column;
}

.img {
    margin: 5px;
}

.field {
    display: flex;
    justify-content: flex-end;
    width: 250px;
    margin: 4px;
}

.form {
    border: 2px solid lightseagreen;
    border-radius: 4px;
}

.errorForm {
    border: 2px solid red;
    border-radius: 4px;
}

.spanError {
    color: red;
    font-size: 0.9rem;
}

.button {
    background-color: #b0efeb;
    border-radius: 4px;
}

.errorServer {
    color: red;
    margin-top: 5px;
    font-size: 0.95rem;
}

