@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Concert+One&family=Rakkas&display=swap');

.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
  "h h"
  "n c";

    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
    font-family: 'Concert One', cursive;
}

.app-wrapper-content {
    grid-area: c;
    background-color: aliceblue;
}




