@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Concert+One&family=Rakkas&display=swap');

.app-wrapper {
    background-color: aliceblue;
    margin: 0 auto;
    display: grid;
    width: 1250px;
    height: 100vh;
    grid-template-areas:
  "header header"
  "navbar content"
  "footer footer";

    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
    font-family: 'Concert One', cursive;
}

.app-wrapper-content {
    grid-area: content;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 5px;
    /*height: 100%;*/
}




