.dialogs {
    display: flex;
    /*height: 100vh;*/
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

.block {
    display: flex;
}

.dialogsItems {
    padding: 10px;
    color: white;
    /*max-widht: 50px;*/
}

.dialogsItems .active {
    color: gold;
}

.messages {
    /*max-widht: 100px;*/
    padding: 10px;
}

.messages .message {
    color: white;
}

.groopOfInputAndButton {
    display: flex;
    padding: 25px;
}

.textareaAndButton {
    background: #f5f6ea;
    border-radius: 10px;
    height: 23px;
    margin: 5px;
}

.formik {
    margin: 20px;
}